@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Quicksand", sans-serif;
}

h1 {
  font-family: "Quicksand", serif;
}

@layer utilities {
  .scrollbar-hide {
    scrollbar-width: none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  .animate-force-gpu {
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
    will-change: transform;
  }
}

@layer components {
  .progress-arc-track {
    stroke: #cbd5e1;
    stroke-opacity: 0.2;
    stroke-linecap: round;
    fill: none;
    stroke-width: 4;
  }

  .progress-arc-fill {
    stroke: #cbd5e1;
    fill: none;
    stroke-width: 4;
    stroke-linecap: round;
    transition: stroke-dashoffset 0.35s ease-out;
  }

  .text-gradient {
    @apply bg-gradient-to-r from-fuchsia-600 to-sky-500;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .btn-primary {
    @apply bg-gradient-to-br from-fuchsia-300 to-sky-400;
    @apply text-sky-900 font-bold py-3 px-8 rounded-full shadow-xl shadow-sky-900/20;
    @apply transition-all duration-500 ease-in-out;
    @apply hover:from-fuchsia-300/80 hover:to-sky-400/80 hover:shadow-sky-900/40 hover:scale-105;
  }

  .stats-card {
    @apply bg-slate-800/50 backdrop-blur-sm rounded-2xl p-4 sm:px-12 shadow-lg flex flex-col items-center justify-center gap-2 min-h-[120px];
    @apply border border-slate-700  transition-all duration-300 hover:border-sky-400 hover:bg-slate-700/80 focus:outline-none focus:ring-2 focus:ring-sky-400;
  }

  .stats-grid {
    @apply grid grid-cols-3 gap-4 sm:gap-8 w-full max-w-md sm:max-w-2xl mx-auto mt-36 sm:mt-0;
  }

  .stats-number {
    @apply text-2xl sm:text-2xl font-bold text-slate-200;
  }

  .stats-label {
    @apply text-xs sm:text-sm font-medium text-slate-200 text-center leading-tight;
  }

  .stats-icon {
    @apply text-lg sm:text-xl mb-1;
  }
  § .swiper-button-next,
  .swiper-button-prev {
    color: #0ea5e9;
    transform: scale(0.75);
  }

  .swiper-pagination-bullet-active {
    background: #0ea5e9;
  }
  .logo-animate {
    animation: logo-animate 4s ease-in-out infinite;
  }
  @keyframes logo-animate {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.6);
    }
    100% {
      transform: scale(1);
    }
  }
}
